.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #001238;
  color: white;

  h2 {
    font-size: 36px;
  }

  .account {
    span {
      margin-right: 15px;
      cursor: pointer;

      &:hover {
        color: #ff5e5e;
      }
    }
  }
}
